.slicknav_menu{
    display: none;
}
@media screen and (max-width:992px){

    .slider{
        margin-top: 90px;
    }
    header{
        margin-top: -90px;
        background-color: deepskyblue;
    }
    #menu{
        display: none;
    }
    .slicknav_menu{
        display: inline-block;
        position: fixed;
        z-index: 1000;
        right: 0;
        background: transparent;
        margin-top: -90px;
    }
    .slicknav_btn{
        background-color: orange;
        margin: 27px 30px 0 0;
    }
    .slicknav_nav{
        background-color: deepskyblue;
        width: 250px;
    }
    .slicknav_nav li{
        margin: 0;
        padding: 0;
        height: 3.5em;
        line-height: 3em;
        width: 250px;
        border-bottom: .2px solid white;
        text-align: center;
        letter-spacing: 1px;
        

    }
    .slicknav_nav li a{
        margin: 0;
        padding: 0;
        font-weight: bold;
        transition: .5s ease ;
    }
    .slicknav_nav li a:hover{
        color: blue;
        background: transparent;
        text-decoration: none;
    }
    @media screen and (max-width:887px) {

        .feature-makeup{
            display: none;
        }
        
    }
    @media screen and (max-width:315px){

        .slider a.btn{
            display: block;
            width: 80%;
            margin-left: 28px;
        }
        .more-feature-area img{
            width: 70%;
        }
        .social-button a{
            display: block;
            width: 94%;
        }
    }


}